<% @cart.line_items.each do |item| %> 
			<tr>
				<td><%= item.quantity %>&times;</td>
				<td><%= item.product.title %></td>
				<td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
				<td><%= button_to 'Delete', item, :method => :delete, :confirm => 'Are You Sure' %></td>
			</tr> 
		<% end %> 