<!-- Layerslider Begin -->

    <div class="hidden-xs">
        <div id="layerslider" style="width: 100%; height: 205px; margin: 0px auto; ">
            <div class="ls-layer" style="transition2d:5;">
                <img class="ls-bg" src="/img/slides/bg-four.jpg">

               <img class="ls-s-1" src="/img/slide_imgs/vinyl.png" alt="iMac" height="139px" width="280px"
                      style="top:40px; left:1000px; durationin : 1250; durationout : 1250;">

                <div class="ls-s-1 large-caption" 
                     style="top:50px; left:20px; delayin : 750; slidedirection : fade; slideoutdirection : fade;">
                    <div><p><%= @page_title || "Rob's online" %></p></div>
                    <div><p>Programming Book Store</p></div>
                </div>
            </div>

            <div class="ls-layer" style="transition2d:5;">
                <img class="ls-bg" src="/img/slides/bg-one.jpg" alt="Slider Background">

                <img  class="ls-s-1" src="/img/slide_imgs/vinyl.png" alt="iPad" height="139px" width="280px"
                      style="top:40px; left:0px; durationin : 1250; durationout : 1250; delayin : 200;">


                <div class="ls-s-1 large-caption" 
                     style="top:50px; left:800px; delayin : 700; slidedirection : fade; slideoutdirection : fade;">
                    <div><p>How about you!!</p></div>
                    <div><p>Bying all kinds of books you dont need?</p></div>

                </div>

            </div>   

             <div class="ls-layer" style="transition2d:5;">
                <img class="ls-bg" src="/img/slides/bg-five.jpg" alt="Slider Background">
                <img  class="ls-s-1" src="/img/slide_imgs/vinyl.png" alt="iPad" height="139px" width="280px"
                      style="top:40px; left:0px; durationin : 1250; durationout : 1250; delayin : 200;">
                
                <div class="ls-s-1 large-caption" 
                     style="top:50px; left:750px; delayin : 750; slidedirection : fade; slideoutdirection : fade;">
                    <div><p>And as a consequence</p></div>
                    <div><p>I make a shit load of money</p></div>
                </div>
            </div>
        </div>
    </div>

<!-- Layer Slider End -->